
@{
    ViewData["Title"] = "LietKeCongNhanTheoTrieuChung";
}

<h1>LietKeCongNhanTheoTrieuChung</h1>
<form action="/CongNhan/ListByTrieuChung" method="post">
    <label>Số triệu chứng </label>
    <input  type="text" name="soTrieuChung"/><br />
    <input type="submit" name="submit" value="Liệt kê" id="lietke"/>
</form>

