
@{
    ViewData["Title"] = "ThemDiemCachLy";
}

<h1>ThemDiemCachLy</h1>
<form action="/DiemCachLy/AddKCL" method="post">
    <label>Mã điểm cách ly </label>
    <input type ="text" name="MaDiemCachLy"/><br>
    <label>Tên điểm cách ly </label>
    <input type="text" name="TenDiemCachLy" /><br>
    <label>Địa chỉ </label>
    <input type ="text" name="DiaChi"/><br>
    <input type="submit" name="submit" value="Thêm" id="them" />


</form>

